@tailwind base;
@tailwind components;
@tailwind utilities;


$orange:#fa9247;
$dark-green:#009950;
$light-green:#4db885;
$thin-light-green:#EDF8F3;

:root {
  --orange:#{$orange};
  --dark-green:#{$dark-green};
  --light-green:#{$light-green};
  --thin-light-green:#{$thin-light-green};
}
/* UTILITIES CLASSES */
.bg-orange {
  background: var(--orange);
}
.bg-dark-green {
  background: var(--dark-green);
}
.bg-light-green {
  background: var(--light-green);
}
.bg-thin-light-green {
  background: var(--thin-light-green);
}

/* =================INUPT STYLES================== */

.floating-input-field.input-style {
  padding-left: 14px;
}

.floating-input-field:-moz-placeholder-shown ~ .floating-label-field {
  position: absolute;
  top: 9px;
  font-size: 13.5px;
  pointer-events: none;
  padding-top: 0;
  font-family: var(--monrope);
  font-weight: normal;
  padding-left: 8px;
  letter-spacing: 0.45px;
}

.floating-input-field:-ms-input-placeholder ~ .floating-label-field {
  position: absolute;
  top: 9px;
  font-size: 13.5px;
  pointer-events: none;
  padding-top: 0;
  font-family: var(--monrope);
  font-weight: normal;
  padding-left: 8px;
  letter-spacing: 0.45px;
}

.floating-input-field:placeholder-shown ~ .floating-label-field {
  position: absolute;
  top: 9px;
  font-size: 13.5px;
  pointer-events: none;
  padding-top: 0;
  font-family: var(--monrope);
  font-weight: normal;
  padding-left: 8px;
  letter-spacing: 0.45px;
  background: transparent;
}

.floating-input-field:not(placeholder-shown) + .floating-label-field,
.floating-input-field:focus + .floating-label-field {
  position: absolute;
  top: -7px;
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  left: 6px;
  font-family: var(--monrope);
  color: #858484;
  font-size: 11px;
  pointer-events: none;
  background: #edf1fe;
  font-weight: normal;
  padding-left: 3px;
  padding-right: 3px;
  letter-spacing: 0.1px;
}

.input-style {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem 0.475rem 0.75rem;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5;
  color: #5c636b !important;
  background: transparent;
  background-clip: padding-box;
  border: none;
  border: 1px solid rgb(43, 38, 73);
  border-top-color: rgb(43, 38, 73);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(43, 38, 73);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(43, 38, 73);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(43, 38, 73);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  border-radius: 4px !important;
  font-family: var(--monrope);
}
input[type="text"]:focus-visible,
input[type="text"]:active,
input[type="text"]:focus {
  outline: none;
}
/* =================INUPT STYLES================== */
/* UTILITIES CLASSES */

